body {
	color: black;
	background-color:#FFEC8B;
}
.addTest{
	
	width: 100%;
}
.adminPage {
	width: 100%;
}
.userPage {
	
	width: 100%;
}
.questAppear {
	width: 100%;
}
.questionEdit {
	width: 100%;
}
.t1 {
	background: none repeat scroll;
	float: left;
	height: 10%;
	width: 100%;
}

.t2 {
	background: repeat scroll;
	float: left;
	height: 15%;
	width: 15%;
}

.t3 {
	background: repeat scroll;
	float: left;
	height: 100%;
	width: 85%;
}
.question {
	width: 100%;
	height: 100%;
}
.title {
	width: 100%;
	height: 12%;
}
.radio {
	width : 10%;
	height: 10%;
	float: left;
	width: 3%;
}
.answer {
	width : 90%;
	height: 10%;
	width: 97%; height : 10%;
	float: left;
}
.saveToBut{
width: 20%;
height: 20%;
float: left;

}
.cancelBut{
width: 20%;
height: 20%;
float: left;
}
#header {
	font-size: 1em;
	text-align: right;
	padding: 1px;
	background: #CC9900;
}
#image {
	float: left;
}
#h1 {
	font-size: 2.2em;
	color: #800040;
	margin-top: 0;
}

#h2 {
	font-size: 1.5em;
	color: #800040;
	margin-top: 0;
}
